/* Following specific naming convention BEM -> Block Element Modifier */

.cisco__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: -moz-radial-gradient(circle at 3% 25%, rgba(18, 14, 67, 1) 0%, rgba(36, 43, 46, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(18, 14, 67, 1) 0%, rgba(36, 43, 46, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(18, 14, 67, 1) 0%, rgba(36, 43, 46, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(18, 14, 67, 1) 0%, rgba(36, 43, 46, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(18, 14, 67, 1) 0%, rgba(36, 43, 46, 1) 100%);

    padding: 2rem 6rem;
}

.cisco__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cisco__navbar-links_logo {
    margin-right: 2rem;
}

.cisco__navbar-links_logo img {
    width: 62px;
    height: 16px;
}

.cisco__navbar-links_container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
}

.cisco__navbar-links_container p,
.cisco__navbar-menu_container p {
    color: var(--link-color);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.cisco__navbar-menu {
    margin-left: 1rem;
    display: none;
    z-index: 2;
    position: relative;
}

.cisco__navbar-menu svg {
    cursor: pointer;
}

.cisco__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);

    z-index: 2;

}

.cisco__navbar-menu_container p {
    margin: 1rem 0;
}

@media screen and (max-width: 1050px) {
    .cisco__navbar-links_container {
        display: none;
    }

    .cisco__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .cisco__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .cisco__navbar {
        padding: 2rem;
    }

    .cisco__navbar-menu_container {
        top: 20px;
    }
}