.footer-heart{
    text-align:center;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    border-top: 1px solid #d1d5db;
    padding: 1rem 1rem;
    margin-bottom: -1rem;
}

.footer-heart-section {
    padding: 10px 0px 20px 0px;
}


.emoji{
    vertical-align: middle;
}