.gallery-img {
  width: 100%;
  height: 75vh;
}

@media screen and (max-width: 480px) {
  .gallery-img {
    width: 100%;
    height: 25vh !important;
  }
}

@media screen and (max-width: 768px) {
  .gallery-img {
    width: 100%;
    height: 40vh;
  }
}
