.cisco__header {
  display: flex;
  flex-direction: row;
}
.gradient__bg-home{
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 3% 25%, rgba(18, 14, 67, 1) 0%, rgba(36, 43, 46, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, rgba(18, 14, 67, 1) 0%, rgba(36, 43, 46, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, rgba(18, 14, 67, 1) 0%, rgba(36, 43, 46, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, rgba(18, 14, 67, 1) 0%, rgba(36, 43, 46, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgba(18, 14, 67, 1) 0%, rgba(36, 43, 46, 1) 100%);

  height: 90vh !important;
}
.section__padding_btn {
  padding: 0 5rem !important;

}
.section__padding {
  padding: 3rem 4rem !important;

}

.cisco__header-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  flex-direction: column;

  margin-right: 5rem;
}

.cisco__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.cisco__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);

  margin-top: 1.5rem;
}

.cisco__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
  flex-direction: row;
}

.cisco__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: var(--color-footer);
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cisco__header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #FF4820;
  border: 2px solid #FF4820;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cisco__header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  margin-top: 2rem;
}

.cisco__header-content__people img {
  width: 181.79px;
  height: 38px;
}


.cisco__header-content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #fff;
  text-align: center;
}

.cisco__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cisco__header-image img {
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 1050px) {
  .cisco__header {
    flex-direction: column;
  }

  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cisco__header-image img {
    width: 80%;
    height: 60%;
  }

  .cisco__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 600px) {
  .cisco__header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .cisco__header-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .cisco__header-image img {
    width: 70%;
    height: 70%;
  }

  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: #50689e;
  }

  .close_btn:hover {
    color: #000;
  }

  .view_more_btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }

  .cisco__header-content__people {
    flex-direction: column;
  }

  .cisco__header-content__people p {
    margin: 0;
  }

  .cisco__header-content__input input,
  .cisco__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 480px) {
  .cisco__header-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .grid-item-1 {
    padding-left: 0rem;
    padding-top: 0rem;
    flex: 1;
    flex-direction: row;
  }

  .cisco__header-content p {
    font-size: 14px;
    line-height: 24px;
  }

  .cisco__header-image img {
    width: 100%;
    height: 85%;
  }
  .gradient__bg{
    height: 80vh;
  }

  .cisco__header-content__input input,
  .cisco__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }

  .view_more_btn {
    width: 120px !important;
    height: 45px !important;
  }
  .documentation_btn {
    width: 120px !important;
    height: 45px !important;
  }
}

.btn_wrapper {
  /* margin-top: 3.5rem; */
  display: flex;
  width: 100%;
}

.btn {
  width: 110px;
  height: 50px;
  background-color: var(--primary-color);
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: var(--btn-hover-color);
}

.view_more_btn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}

.view_more_btn i {
  margin-left: 0.7rem;
}

.view_more_btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.documentation_btn {
  width: 150px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  background-color: #e1e7fc;
  color: #0e2a86;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}

.documentation_btn:hover {
  background-color: #d7ddf1;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}


/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");


/* ==== CSS VARIABLES ==== */
:root {
  --primary-color: #335eea;
  --link-color: #506690;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
}

/* ==== RESET HTML ==== */
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fafbfb;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* ==== CONTAINER ==== */
.container {
  width: 100%;
}


.main-heading {
  font-weight: 100;
  font-size: 40px;
  line-height: 55px;
}

.main-heading span {
  color: var(--primary-color);
}

.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: #334157;
}

.btn_wrapper {
  /* margin-top: 3.5rem; */
  display: flex;
  width: 100%;
}

.btn {
  width: 110px;
  height: 50px;
  background-color: var(--primary-color);
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: var(--btn-hover-color);
}

.view_more_btn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}

.view_more_btn i {
  margin-left: 0.7rem;
}

.view_more_btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.documentation_btn {
  width: 150px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  background-color: #e1e7fc;
  color: #0e2a86;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}

.documentation_btn:hover {
  background-color: #d7ddf1;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}


@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {

  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }

  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }

  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0 !important;
  }

  .featured_info span {
    font-size: 19px;
  }
}